body {
    font-family: 'Montserrat', sans-serif;
    background-color: #000;
    color:#fff;
    margin: 0;
    overflow: hidden;
}

.main {
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}

.sidebar {
    background-color: #000000;
    width: 300px;
    border-radius: 1rem;
    margin-right: 0.5rem;
}

.main-content {
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
    padding: 0 1.5rem 0 1.5rem;
}

.music-player {
    background-color: rgb(0, 0, 0);
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 70px;
}

.nav {
    display: flex;
    flex-direction: column;
    background-color: #121212;
    border-radius: 1rem;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;
}

.nav-option, .nav-option {
    display: flex;
    align-items: center;
    height: 2.5rem;
    font-size: 1rem;
    /* background-color: #121212; */
    padding: 0.75rem 0.5rem;
}

.nav-option i  {
    font-size: 1.25rem;
    opacity: 0.7;
    margin-left: 0.5rem;
    /* background-color: #121212; */
}

.nav-option i , a:hover {
    opacity: 1;
}

.nav-option a, .nav-option a {
    display: flex;
    flex-direction: column; 
    color:white;
    text-decoration: none;
    /* background-color: #121212; */
    margin-left: 0.7rem;

}

.library {
    border-radius: 1rem;
    height: 100vh;
    margin-top: 0.5rem;
    background-color: #121212;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 0.5rem;
}

.lib-option img {
    height: 1.24rem;
    width: 1.25rem;
}

.lib-option a {
    text-decoration: none;
    color: white;
}

.icons {
    font-size: 1.2rem;
    display: flex;
}

.icons i {
    opacity: 0.7;
    margin-right: 1rem;
}

.icons i:hover {
    opacity: 1;
}

.box {
    height: 9rem;
    background-color: #232323;
    border-radius: 1rem;
    margin: 0.5rem 0 1.8rem 0;
    padding: 1rem 1.25rem;
}

.two {
    height: 10rem;
    background-color: #232323;
    border-radius: 1rem;
    margin: 0.5rem 0 1.8rem 0;
    padding: 1rem 1.25rem;
}
.box-p1 {
    font-size: 1rem;
    font-weight: bold
}

.box-p2 {
    font-size: 0.85rem;
    opacity: 0.9;
}

.badge {
    background-color: white;
    border: none;
    color: black;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: bold;
    margin-top: 0.5rem;
}

.sticky-nav {
    position: sticky;
    top: 0;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0 1rem;
    z-index: 10;
    height: 3rem;
}

.sticky-nav-icons {
    margin-left: 0.75rem;
}

.sticky-nav-options {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item {
    margin-right: 1.5rem;
}

.dark-badge {
    background-color: black;
    color: white;
}

@media (max-width: 1000px) {
    .hide {
        display: none;
    }
}

.card {
    background-color: #232323;
    width: 200px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-top: 1.5rem;
    flex-shrink: 0;
    cursor: pointer;
}

.cards h2 {
    margin: 1rem;
}

.card-container {
    display: flex;
    overflow-x: auto;
    gap: 1rem;
    margin-top: 1rem;
}

.card-img {
    width: 100% ;
    border-radius: 0.5rem;
}

.card-title {
    font-weight: 600;
    color: white;
    font-size: medium;
    padding-top: 1rem;
}

.card-info {
    opacity: 0.8;
    font-size: 0.85rem;
    color: gray;
}

.footer {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    height: 30%;
    width: 90%;
    border-top: 1px solid rgb(255, 255, 255);
    opacity: 0.4;
}

.music-player {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.album {
    width: 25%;
}

.player {
    width: 50%;
}

.player-controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-control-icon {
    height: 1rem;
    margin-right: 1rem;
    opacity: 0.7;
}

.player-control-icon:hover {
    opacity: 1;
}
.controls {
    width: 25%;
}

.playback-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-range {
    width: 70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}

.progress-range::-webkit-slider-runnable-track {
    background-color: #ddd;
    border-radius: 100px;
    height: 0.2rem;
}

.progress-range::-webkit-slider-thumb {
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -6px;
}

.album {
    display: flex;
    align-items: center;
    gap: 10px;
}

.album .album-img {
    height: 2rem;
    width: 2rem;
    margin: 20px;
    justify-content: flex-start;
}

.album-text {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 0.9;
    margin-top: 1rem;
}

.fa-solid  {
    margin: 1rem;
}

.circle-add-btn , .circle-sub-btn {
    display: flex;
    justify-content: flex-start;
    margin-left: 2rem;
}

.circle-add-btn:hover {
    color: #1db954;
}

.circle-sub-btn:hover {
    color: #1db954;
}

.controls {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.volume-progress {
    width:4rem
}

.volume-progress::-webkit-slider-thumb {
    appearance: none;
    height: 0.7rem;
    width: 0.7rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -5px;
}